.bannerMGP{
    height: 15vh;
    border-radius: 30px 30px 30px 30px ;
    background-color: black
    
}

.container img{
    height: 40%;
    width: 20%;
    padding:25px 20px;
}

.identitas{
    padding-left: 50 px  ;
}